<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-8 mx-auto my-3">

      <div class="text-center py-3">
        <h2 class="bg-secondary text-white rounded"><%= @customer.family_name %><%= @customer.first_name %>さんの会員詳細</h2>
      </div>

      <div class="row py-2">
        <div class="col-lg-4">会員ID</div>
        <div class="col-lg-8"><%= @customer.id %></div>
      </div>
      <div class="row py-2">
        <div class="col-lg-4">氏名</div>
        <div class="col-lg-8"><%= @customer.family_name %><%= @customer.first_name %></div>
      </div>
      <div class="row py-2">
        <div class="col-lg-4">フリガナ</div>
        <div class="col-lg-8"><%= @customer.kana_family_name %><%= @customer.kana_first_name %></div>
      </div>
      <div class="row py-2">
        <div class="col-lg-4">郵便番号</div>
        <div class="col-lg-8"><%= @customer.post %></div>
      </div>
      <div class="row py-2">
        <div class="col-lg-4">住所</div>
        <div class="col-lg-8"><%= @customer.address %></div>
      </div>
      <div class="row py-2">
        <div class="col-lg-4">電話番号</div>
        <div class="col-lg-8"><%= @customer.phone %></div>
      </div>
      <div class="row py-2">
        <div class="col-lg-4">メールアドレス</div>
        <div class="col-lg-8"><%= @customer.email %></div>
      </div>
      <div class="row py-2">
        <div class="col-lg-4">会員ステータス</div>
        <% if @customer.is_deleted == false %>
          <div class="text-success">有効</div>
        <% else %>
          <div class="text-secondary">退会</div>
        <% end %>
      </div>
      <div class="row py-2">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
          <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success mr-5" %>
        </div>
      </div>

    </div>
  </div>
</div>