<div class="container px-5 px-sm-0">

  <div class="row">
    <div class="col-lg-8 mx-auto my-3">
      <div class="text-center py-3">
        <h2 class="bg-secondary text-white rounded">注文履歴詳細</h2>
      </div>
    </div>
  </div>

  <!--注文履歴詳細-->
  <div class="row">
    <div class="col-lg-8 mx-auto my-3">
      <div class="row py-2">
        <div class="col-lg-4 font-weight-bold">購入者</div>
        <div class="col-lg-8">
          <%= link_to admin_customer_path(@order.customer_id) do %>
          <%= @order.customer.family_name %> <%= @order.customer.first_name %>
          <% end %>
          </div>
      </div>
      <div class="row py-2">
        <div class="col-lg-4 font-weight-bold">注文日</div>
        <div class="col-lg-8"><%= @order.created_at.to_s(:dateday_jp) %></div>
      </div>
      <div class="row py-2">
        <div class="col-lg-4 font-weight-bold">配送先</div>
        <div class="col-lg-8">
          〒 <%= @order.post %><br/>
          <%= @order.address %><br/>
          <%= @order.name %>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-lg-4 font-weight-bold">支払方法</div>
        <div class="col-lg-8"><%= @order.payment %></div>
      </div>
      <div class="row py-2">
        <div class="col-lg-4 font-weight-bold">注文ステータス</div>
        <div class="col-lg-8">
          <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
            <%= f.select :order_status, Order.order_statuses.keys %>
            <%= f.submit "更新", class:"btn btn-success btn-sm ml-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!--注文詳細-->
  <div class="row">
    <div class="col-lg-10 mx-auto my-3">
      <div class="row py-2">
        <div class="col-lg-9">

          <table class="table">
            <thead class="bg-light font-weight-bold">
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
            </thead>
            <tobody>
              <% @order_details.each do |order_detail| %>
                <tr>
                  <td><%= order_detail.item.name %></td>
                  <td><%= order_detail.item.add_tax_price.to_s(:delimited) %></td>
                  <td><%= order_detail.quantity %></td>
                  <td><%= order_detail.amount.to_s(:delimited) %></td>
                  <td>
                    <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |f| %>
                      <%= f.select :production_status, OrderDetail.production_statuses.keys %>
                      <%= f.submit "更新", class:"btn btn-success btn-sm ml-2" %>
                    <% end %>
                  </td>
                </tr>
                <% @total_price += order_detail.amount %>
              <% end %>
            </tobody>
          </table>

        </div>
        <div class="col-lg-3 d-flex align-items-end">
          <table class="table table-borderless">
            <tr>
              <th>商品合計</th>
              <td><%= @total_price.to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <th>送料</th>
              <td><%= @order.postage.to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <th>請求金額合計</th>
              <td><%= (@total_price + @order.postage).to_s(:delimited) %>円</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>