<table class="table table-bordered">
  <thead class="thead thead-light">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th colspana = "3"></th>
    </tr>
  </thead>
  <tbody>
    <% addresses.each do |address| %>
      <tr>
        <td><%= address.post %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td><%= link_to edit_customer_address_path(address.id), data: {"turbolinks"=>false}  do %>
              <button class="btn btn-success">EDIT</button>
            <% end %>  
        </td>
        <td><%=link_to customer_address_path(address.id), date: {"turbolinks" => false},method: :delete, date: { confirm: "消しちゃっていいの？"} do %>
              <button class = "btn btn-dabger">削除</button>
            <% end %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>